apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: ecom-app
spec:
  type: NodePort
  selector:
    app: catalog-service
  ports:
    - name: http
      port: 80
      targetPort: http
      nodePort: 30081